.navi {
  background-color: #222222;
}
.web-navi {
  color: #ece4e4;
  text-decoration: none;
}
.li {
  margin: 0;
  padding: 5%;
}
ul {
  margin: 0;
  padding: 0;
}
/*-------------header-----------------*/
.cm {
  padding: 5%;
}

/* ------home紹介-------- */

.web {
  padding: 3%;
  margin: 5%;
}
.im {
  text-align: center;
}
p.message {
 text-align: center;
}
.riri {
  text-align: center;
}
a.read {
  padding: 3%;
  margin: 4%;
}
/* --------------本文main-------------- */
.ho {
  padding: 0;
  color: rgb(219, 232, 49);
  font-size: 22px;
  text-decoration: none;
}
.hoho {
  text-align: center;
}
.blog {
  text-align: center;
  font-size: 23px;
  padding: 3%;
  margin: 3%;
  color: rgb(34, 134, 215);
}
footer {
  background-color: rgb(88, 87, 100);
  padding: 10%;
}
.toi {
  padding: 5%;
  text-align: center;
}
.to {
  color: rgb(181, 238, 37);
  font-size: 16px;
  text-decoration: none;
}
.map {
  text-align: center;
  padding: 5%;
}
.site {
  color: rgb(247, 139, 23);
  font-size: 16px;
  text-decoration: none;
}
/*-------------footer------------- */