.navi {
  background-color: #222222;
}
.web-navi {
  color: #ece4e4;
  text-decoration: none;
}
.li {
  margin: 0;
  padding: 5%;
}
ul {
  margin: 0;
  padding: 0;
}
/*-------------header-----------------*/
.cm {
  padding: 5%;
}

/* ------home紹介-------- */
.row {
  background-color: #fdfbfb;
}
h1 {
  font-size: 30px;
  padding: 3%;
}
.web {
  padding: 5%;
  margin: 3%;
  background-color: #ffffff;
}
p.message {
  padding: 5%;
  margin: 5%;
  text-align: center;
}
a.read {
  padding: 3%;
  margin: 3%;
  border-style: dotted;
  text-decoration: none;
  color: rgb(25, 232, 232);
}
.imim {
  text-align: center;
}
.main {
  margin: 3%;
}
/* --------------本文main-------------- */
.ex {
  padding: 3%;
  border-style: dotted;
  text-decoration: none;
}
.x {
  text-align: center;
  padding: 5%;
  margin: 3%;
}
.ree {
  text-align: center;
  padding: 3%;
  margin: 3%;
}
/* -------その他のblog------ */
h2 {
  font-size: 30px;
  margin-left: 5%;
}
h3 {
  font-size: 30px;
  padding: 3%;
  margin-left: 5%;
}
/* -------タイトル------ */
.me {
  padding: 3%;
  margin: 5%;
  background-color: #fdfbfb;
}
.in {
  text-align: center;
}
.profi {
  text-align: center;
}
.my {
  padding: 3%;
  margin: 3%;
  text-align: center;
}
.side {
  padding: 3%;
}
a.pro {
  padding: 3%;
  margin: 5%;
  color: rgb(27, 237, 23);
  text-decoration: none;
  border-style: dotted;
}
/* ------------プロフィール---------- */
h4 {
  font-size: 20px;
  position: relative;
  padding: 0.25em 0;
}
h4::after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
/* archive */
.ho {
  padding: 0;
  color: rgb(219, 232, 49);
  font-size: 22px;
  text-decoration: none;
}
.hoho {
  text-align: center;
}
.blog {
  text-align: center;
  font-size: 23px;
  padding: 3%;
  margin: 3%;
  color: rgb(34, 134, 215);
}
footer {
  background-color: rgb(88, 87, 100);
  padding: 10%;
}
.toi {
  padding: 5%;
  text-align: center;
}
.to {
  color: rgb(181, 238, 37);
  font-size: 16px;
  text-decoration: none;
}
.map {
  text-align: center;
  padding: 5%;
}
.site {
  color: rgb(247, 139, 23);
  font-size: 16px;
  text-decoration: none;
}
/* li */
.uu, ol {
  padding: 0;
}

.uu li {
  position: relative;
  list-style-type: none!important;/*ポチ消す*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

.uu li:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
/* li */
/*-------------footer------------- */
.bana {
  padding: 3%;
  margin: 0 0 0 3%;
}
.kou {
  font-size: 24px;
  padding: 3%;
  margin: 0 0 0 5%;
}
.koku {
  padding: 2%;
  margin: 0 0 0 5%;
}
/* 広告 Amazonアフェリエイト */
.baner {
  padding: 5%;
  margin: 0;
}
/* A8-net */
/* タブレット */
@media screen and (min-width:481px) {
  .main {
    flex-flow: row wrap;
  }
}
/* タブレット */
/* pc */
@media screen and (min-width:960px) {
  .main {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .web {
    margin: 1px;
    padding: 3px;
    padding-block-end: 1px;
  }
  .li {
    padding: 20px;
  }
  .cm {
    padding: 20px;
  }
  h1 {
    padding: 20px;
  }
  .kou {
    padding: 20px;
  }
  .koku {
    padding: 18px;
  }
  .bana {
    padding: 20px;
  }
  .baner {
    padding: 20px;
    margin: 0 0 0 5%;
  }
  .side {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 30px;
   
  }
  h3 {
    padding: 20px;
    margin: 20px;
  }
  .me {
    padding: 20px;
    margin: 20px;
  }
  .my {
   padding: 20px;
  }
  .in {
    padding: 20px;
  }
}
/* ----------pc-------- */